@import "tailwindcss";

@theme {
	--color-dark-indigo: #020f66;
	--color-keyring-blue: #175ddc;
	--color-light-grey: #f3f6f9;
	--color-deep-blue: #1a41ac;
	--color-teal-blue: #2cdde9;
	--color-amber-orange: #ffbf00;
	--color-melon-red: #ff4e63;
	--color-medium-purple: #976fd9;
}

/* Text Color: text-blue-300 */
/* Text Color: text-light-grey */
/* BG Color: bg-gray-800 */

/* :root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */
